venv
*.pyc
.DS_Store
.env
/test.py
/dummy_data.py
/data_handler.py
/data/
/assets/mca-001/
/assets/mca-002/
/assets/mca-003/
/assets/mca-004/
/assets/mca-005/
/assets/mcb-001/
/assets/mcb-002/
/assets/mcb-003/
/assets/mcb-004/
/assets/mcb-005/
